<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Enter information</title>
</head>

<body>

	<div class="container">
	

		<form th:action="@{/checkCredentials}" th:object="${userInfo}" method="POST">
			
			<label>Your full name</label>
			<input type="text" th:field="*{usersName}" class="form-control" required>
			
			<label>Credit card number</label>
			<input type="text" th:field="*{creditCardNum}" class="form-control" required>
			
			<label>Your address</label>
			<input type="text" th:field="*{address}" class="form-control" required>
				
			<button type="submit" class="form-control">Submit</button>
				
		</form>
	
<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
	
	<a th:href="@{/getHomePage}" class="btn btn-warning ml-2" >Back to home page</a>
	
	</div>

</body>

</html>